 {% load static %}
 <header >
      <nav class="nav container">
        <ul class="nav__list nav__d-flex">
          <li class="nav__list--item"><a class="nav__link"  href="{% url 'demoapp:home' %}"><h1 class="logo">Django</h1></a></li>
          <li class="nav__list--item nav__item--push-right"><a  href="{% url 'demoapp:home' %}"class="nav__link">Home</a></li>
          <li class="nav__list--item"><a class="nav__link" href="{% url 'demoapp:contact' %}">contact us</a></li>
          <li class="nav__list--item"><a class="nav__link" href="{% url 'demoapp:about' %}">about</a></li>
          <li class="nav__list--item nav__item--push-right"><a href="{% url 'demoapp:register' %}" class="nav__link nav__link--btn">Sign up</a></li>
          <li class="nav__list--item"><a class="nav__link nav__link--btn">log in</a></li>
        </ul>
      </nav>
    </header>
